<% if @medicines.empty? %>
  <div class='no-match'>No match found.</div>
<% else %>
  <div class='search-result'>
    <% content_for :page_title do %>
      <h2><i class="fa fa-medkit"></i>&nbspSearch Results</h2>
    <% end %>

    
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>Medicine</th>
          <th>Associated Symptoms</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class='delete-data'>
        <% @medicines.each do |medicine| %>
          <td><%= medicine.name %></td>
          <td>
            <% medicine.symptoms.each do |symptom| %>
              <li><%= symptom.name %></li>
            <% end %>
          </td>
          <td>
            <%= link_to "Edit", edit_medicine_path(medicine), class: 'btn btn-primary btn-sm', remote: true %>
            <%= link_to "Delete", medicine_path(medicine), class: 'btn btn-danger btn-sm', method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
