<% if @medicines.empty? %>
  $('.search-result table').remove();
  $('#edit-medicines').append('<h3>There are no medicine records.</h3>');
<% else %>
  $('a[href="<%= medicine_path(@medicine) %>"]').closest('.delete-data').remove();
  $('.notice').remove();
  $('#edit-medicines').html('<%= j render "medicines/search" %>')
<% end %>
