
<%= link_to "Patient List", patients_path, class: "btn btn-primary pull-right" %>

<h4>Edit Patient Account</h4>

<div class="container" id="edit_patient_form"> 
  <%= render 'patient_form' %>
</div>
