<div>
  <% if current_user.patients.empty? %>
    <h5>There are no patient records to date</h5>

  <% else %>
    <div class='patient-index'>
      <%= render 'patients_index' %>
    </div>
  <% end %>
</div>


