<% content_for :page_title do %>
  <div> 
    <h2>Patient Records</h2><hr>
  </div>
<% end %>

<div>
  <% if current_user.patients.empty? %>
    <h3>There are no patient records to date</h3>

  <% else %>
    <div class='patient-index'>
      <%= render 'shared/patients_index' %>
    </div>
  <% end %>
</div>


