/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require jquery.ui.datepicker
 *= require fullcalendar
 *= require fullcalendar.print
 *= require_tree .
 */

 .notice:empty {
  display: none;
 }

 .alert:empty {
  display: none;
 }

 html, body, * {
  padding: 0;
  margin: 0;
}

html {
    width: 100%;
    height: 100%;
    position: absolute;
}
/* left-column */

.bs-sidenav {
  padding-top: 10px;
  padding-bottom: 10px;
  /*text-shadow: 0 1px 0 #fff;*/
  background-color: #E2E6EB;
  border-radius: 5px;
  color: #FFFFFF;
#navbar-top {
  border-radius: 0;
}


#add-patient-btn > .btn.btn-default {
  background-color: #E9E9E9;
}
/* left-column */

#dashboard-panel {
    background: white;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    right: 75%;
    overflow: hidden;
    padding-left: 15px;
    padding-top: 4em;
}

.bs-sidenav {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #E9E9E9;
  border-radius: 5px;
  max-width: 300px;
}

.bs-sidenav > li > a {
  color: black;
  font-size: 16px;
}

tr > th {
  font-size: 16px;
}

/* right-column */

#right-column {
    background: white;
    position: absolute;
    left: 25%;
    top: 50px;
    bottom: 0;
    right: 0;
    overflow-y: auto;    
}

/* navbar-top */
nav#navbar-top {
  background-color: #D6DCE3;
.patient-records-table {
}

#patient-index-header {
}

#patient-index-body {

}





