#new_appointment, .edit_appointment {
  margin-top: 35px;
}

#new-appointment-btn {
  margin-top: 15px;
  margin-bottom: 15px;
}

#new-appointment-btn-2 {
  margin-bottom: 15px;
  position: absolute;
  margin-left: 200px;
  margin-top: 0px;  
}

.inline_inputs > .control-group {
  display: inline-block;
  width: 32%;
}

.appointment-save {
  position: absolute;
  margin-left: 9px;
  margin-top: 2px;
}

.appointment-back {
  position: absolute;
  margin-left: 64px;
  margin-top: 5px;
}
