// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* welcome page */


.center-block {
  width: 400px;
}


/* left-column */

.bs-sidenav {
  padding-top: 10px;
  padding-bottom: 10px;
  /*text-shadow: 0 1px 0 #fff;*/
  background-color: #E9E9E9;
  border-radius: 5px;
  max-width: 300px;
  height: 400px;
}

#dashboard-panel {
  background: white;
  position: absolute;
  left: 0;
  top: 52px;
  bottom: 15px;
  right: 75%;
  overflow: hidden;
  padding-left: 15px;
  padding-top: 1em;
}

.bs-sidenav > li > a {
  color: black;
  font-size: 15px;
}

.bs-sidenav.nav > li > a:hover, .bs-side.nav > li > a:focus {
  background-color: #808080;
}

#add-patient-btn > .btn.btn-default {
  background-color: #E9E9E9;
}

#query {
  width: 239px;
  display: inline-block;
}

/* right-column */

#right-column {
  background: white;
  position: fixed;
  left: 25%;
  top: 67px;
  bottom: 15px;
  padding-right: 35px;
  overflow-y: auto;  
}




