@import "variables";

html, body, * {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

.navbar-header > .navbar-brand {
  font-size: 25px;
}

.navbar.navbar-inverse {
  border-bottom: none;
}

.dropdown-menu {
  border-top: none;
}

tr > th {
  font-size: 15px;
}

label {
  margin-top: 17px;
  margin-bottom: 2px;
}

label .radio, span .radio,.radio input[type="radio"] {
  border: none;
  width: 20px;
}

#signin_form, #signup_form {
  margin: 75px 341px 50px 115px;
}

.help-inline {
  color: red;
}

#patient-prescription-show {
  margin-top: 20px;
}
