


// patients index view

td#patient-index-actions, 
th#patient-index-action-header {
  text-align: center;
}

#clone-patient-index-thead.group {
width: 100%;
position: fixed;
display: inherit;
background-color: white;
}

.patient_first_name, .patient_middle_name, .patient_last_name {
  width: 25%;
  display: inline-block;
}

// patient form

.patient_gender {
  width: 20%;
  display: inline-block;
}

select#patient_gender, .patient_gender label {
  width: 97%
}

.patient_address, .patient_phone_number {
  width: 35%;
  display: inline-block;
}

.patient_dob {
  width: 25%;
  display: inline-block;
}

