


// patients index view

td#patient-index-actions, 
th#patient-index-action-header {
  text-align: center;
}

#page-title {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 2;
}

#page-title.patient-show {
  height: 77px;
}

#clone-patient-index-thead.group, {
  width: 100%;
  position: fixed;
  display: inherit;
  background-color: white;
  margin-top: 85px;
  z-index: 1;
}

#patient-tab-content {
  position: relative;
  margin-top: 103px;
  z-index: 0; 
}

#patient-new-form-body {
  position: relative;
  margin-top: 77px;
  z-index: 0;
}

#patient-edit-form-body {
  position: relative;
  margin-top: 0;
  z-index: 0;
}


// patient form

.patient_first_name, .patient_middle_name, .patient_last_name {
  width: 25%;
  display: inline-block;
}

.patient_gender {
  width: 20%;
  display: inline-block;
}

select#patient_gender, .patient_gender label {
  width: 97%
}

.patient_address, .patient_phone_number {
  width: 35%;
  display: inline-block;
}

.patient_dob {
  width: 25%;
  display: inline-block;
}


