<br>
<%= render 'appointments/new' %>

<div class='patient-appointments-table'>
  <% appointments = @patient.appointments %>
  
  <% if appointments.empty? %>
    <h3 class='no-appointments'>No appointments have been scheduled.</h3>
  <% else %>
    <%= render partial: 'appointments/appointments_table', locals: { appointments: @patient.appointments } %>
  <% end %>
</div>
