
<div class="appointments-index" id="appointments-index-body">
  <% if current_user.appointments.empty? %>
    You have no scheduled appointments.
  <% else %>
    <div id='appointments' class="appointments-body">
    <div>
  <% end %>
</div>
