
<% if @patient.appointments.empty? %>
  $('#patient-appointments').append('<h3 class="no-appointments">No appointments have been scheduled.</h3>');
<% else %>
  $('#appointment-form').replaceWith('<%= j render "appointments/edit" %>')
<% end %>


$(document).ready(function() {
  $('.datepicker').pickadate({
    format: 'dddd, dd mmm, yyyy',
    formatSubmit: 'yyyy/mm/dd',
    min: true,
    max: +14,
    hiddenPrefix: 'prefix__',
    hiddenSuffix: '__suffix',
    editable: true
  });
    
  $('.timepicker').pickatime({
    format: "HH:i",
    interval: 15,
    min: [8, 0],
    max: [17, 0],
    hiddenPrefix: 'prefix__',
    hiddenSuffix: '__suffix',
    editable: true
  });
});
