<% content_for :page_title do %>
  <h2>Edit Appointment for <%= @patient.full_name %></h2><hr>
<% end %>

<div class='form-inline'>
  <%= simple_form_for @appointment, url: appointment_path(@appointment, patient_id: @patient.id, tab: 'patient-appointments'), method: :patch do |f| %>
    <%= render partial: 'shared/booking_form', locals: { f: f, appointment: @appointment, patient: @appointment.patient } %>
  <% end %>
</div>