<div class="appointments-index">
<% if current_user.appointments.empty? %>
  You have no scheduled appointments.
<% else %>
  <div id='appointments'>
    <div class="modal fade" id="appointmentEditModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            
          </div>
        </div>
      </div>
    </div>
  <div>
<% end %>

  
   
