<% content_for :page_title do %>
  <h2>New Appointment for <%= @patient.full_name %></h2><hr>
<% end %>

<div class='form-inline'>
  <%= simple_form_for @appointment, url: appointments_path(@appointment, patient_id: @patient.id, tab: 'patient-appointments'), method: :post do |f| %>
    <%= render partial: 'shared/booking_form', locals: { f: f, appointment: @appointment, patient: @appointment.patient } %>
    <%= link_to "back", back_url %>
  <% end %>
</div>
