<% if user_signed_in? %>
  <ul class="nav bs-sidenav" >
    <li>
      <a href="<%= appointments_path %>">Appointments</a>
    </li>
    <li>
      <%= link_to "Patient Records", patients_path %> 
    </li>
    <li>
      <a href="#">Prescription Generator</a>
    </li>
    <li>
      <a href="#">Phonebook</a>
    </li>
  </ul>
  <br>
  <%= content_for(:dashboard_extras) %>
  <br>
  <%= render 'patients/search_patient' %>

 
<% end %>
